.container
  - @articles.each do |article|
    .article_field
      .article_user_info
        .article_user_icon
          = image_tag article.user.avatar_image
        .article_user_name
          = article.user.account
      .article_images
        = article.images