.container
  .page_title
    %p Followers
  .followings
    - @followers.each do |follower|
      .followings_member
        .followings_member_image
          = image_tag follower.avatar_image
        .followings_member_info
          .followings_member_info_name
            = link_to account_path(follower.id) do
              = follower.account
          .followings_member_info_time
            = 'Last seen 3 hours ago'
    
    