/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*--- common ---*/

 a {
  text-decoration: none;
 }
 
 
 body {
   position: relative;
   min-height: 778px;
   min-width: 375px;
   background: #F2F2F2;
   margin: 0;
  }
  
  .bottom_border {
    position: absolute;
    bottom: 9px;
    background: #252222;
    border-radius: 100px;
    width: 134px;
    height: 5px;
    left: 121px;
    display: inline-block;
  }
  
  .header {
    position: relative;
    height: 44px;
    width: 100%;
    
    a {
      color: red;

    }

  }
  
  footer {
    position: absolute;
    width: 100%;
    height: 34px;
    bottom: 0;
    
  }
  
  .container {
    padding: 0 16px 0;
    height: 100%;
    position: relative;
  }

  .backicon-1 {
    float: left;
    position: fixed;
    z-index: 2;
    top: 52px;
    left: 16px;
    width: 5px;
    height: 12px;  
  }
  .backicon-2 {
   float: left;
   position: fixed;
   z-index: 2;
   top: 57px;
   left: 17px;
   width: 16px;
   height: 2px;  
 }
 
 .camera-1 {
   position: fixed;
   z-index: 2;
   top: 53px;
   left: 21px;
 }
 
 .camera-2 {
   position: fixed;
   z-index: 2;
   top: 48.83px;
   left: 16px;
 }
 
 .hidden {
   display: none;
 }
 
 
 /*--- common ---*/
 
 /*--- user-authentication ---*/

 .authentication_page {
   height: 514px;
   min-width: 343px;
   position: relative;
   margin: 0 0 15px 0;
   padding: 0 16px 0;
 }
 
 .field_email{
  margin-top: 20px;
  width: 100%;
  height: 55px;
  position: relative;
  border-bottom: 1px solid #9E9E9E;
  
  
  
  &_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 17px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #979797;
    mix-blend-mode: normal;
    opacity: 0.9;
  }
  
  &_box {
    position: absolute;
    top: 21px;
    left: 0;
    width: 100%;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.9;
    border: none;
    margin-bottom: 10px;
  }  
 }
 
 .field_password {
   margin-top: 20px;
   margin-bottom: 16px;
   width: 100%;
   height: 55px;
   position: relative;
   border-bottom: 1px solid #9E9E9E;
   
   &_label {
     position: absolute;
     top: 0;
     left: 0;
     width: 54px;
     height: 17px;
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 11px;
     line-height: 16px;
     color: #979797;
     mix-blend-mode: normal;
     opacity: 0.9;
   }
   &_box {
    position: absolute;
    top: 21px;
    left: 0;
    width: 100%;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.9;
    border: none;

  }  

 }
 .forgotpass {
   text-align: right;
   font-family: Poppins;
   font-style: normal;
   color: #CCCCCC;
   line-height: 16px;
   font-size: 11px;
   font-weight: normal;

 }
 
 
 .btn-sign {
   width: 343px;
   height: 48px;
   background: #FFE600;
   position: absolute;
   top: 328px;
   font-family: Poppins;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   color: #000000;
   mix-blend-mode: normal;
   opacity: 0.9;
   border: none;
 }
 
 .field_account {
   margin-top: 20px;
   height: 55px;
   width: 100%;
   position: relative;
   border-bottom: 1px solid #9E9E9E;
   
   &_label {
     position: absolute;
     top: 0;
     left: 0;
     height: 17px;
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 11px;
     line-height: 16px;
     color: #979797;
     mix-blend-mode: normal;
     opacity: 0.9;
   }
   
   &_box {
     position: absolute;
     height: 24px;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     color: #333333;
     mix-blend-mode: normal;
     opacity: 0.9;
     width: 100%;
     height: 24px;
     top: 21px;
     left: 0;
     border: none;
   }
 }

 

 /*--- user-authentication ---*/
 
 /*--- profile ---*/


.profile_info {
  width: 40%;
  margin:  46px auto 0;
  text-align: center;
    
  &_name {
    width: 100%;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333A42;
    margin-bottom: 32px;
  }
  
  &_image {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border: 1px solid #E91E63;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 2px;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  
}

.edit_profile_form {
  margin-top: 50px;
  padding-left: 30px;
  
  &_label {
    margin-bottom: 20px;
    
  }
}

.user_info_counts {
  margin-top: 38px;
  padding-left: 59px;
  padding-right: 43px;
  display: flex;
  justify-content: space-between;
}

.element_counts {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333A42;
  p {
    font-size: 14px;
    line-height: 21px;
    color: #9E9E9E;
  }
}

.image_layouts {
  width: 100%;
  height: 392px;
  margin-top: 42px;
  
  &_upper {
    width: 100%;
    height: 192px;
    margin-bottom: 4px;
    display: flex;
    
    
    &_right {
      width: 60%;
    }
    
    &_left {
      width: 37%;
    }
  }
  
  &_bottom {
    width: 100%;
    height: 192px;
    margin-top: 4px;
    position: relative;
    justify-content: space-around;
    
    &_right {
      position: absolute;
      top: 0;
      left: 0;
      width: 128px;
    }
    
    &_left {
      position: absolute;
      top: 0;
      right: 0;
      width: 207px;
    }
  }
}

.selected{
  opacity: 0.8;
}

.upload {
  margin-top: 10px;
  padding: 10px;
  margin: 0 auto;
}
 
 
 
/*--- profile ---*/
/*--- articles ---*/

.article_field {
  
  margin-top: 40px;
}

.article_author {
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}


.article_user_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.article_user_info_name {
  width: 64px;
  height: 23px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.article_user_info_created_at {
  font-size: 12px;
  width: 72px;
  height: 20px;
  line-height: 18px;
  color: #9E9E9E;
  
}

.image-push-btn {
  
}

.image-push-field {
  display: none;
}



/*--- articles ---*/

.article_images_scope {
  width: 343px;
  height: 225px;
}

.article_image_size {
  max-width: 198px;
  max-height: 225px;
  object-fit: scale-down;
}

.article_like_status {
  display: flex;
}

.article-heart {
}

.article-heart-count {
  span {
    font-weight: bold;
  }
}

.article_option {
  display: flex;
  width: 100px;
  height: 16px;
  justify-content: space-between;
}


/*--- articles ---*/
/*--- comment ---*/

.comment_page {
  width: 100%;
  height: 24px;
  display: inline-block;
  text-align: center;
  
  &_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  
}

.comment_container{
  margin-top: 52px;
  width: 100%;
}

.comment_area {
  margin-bottom: 10px;
}

.comment_area_image {

  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.comment_area_item {
  margin-left: 14px;
}

.comment_area_user_name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #414040;
  height: 24px;
}

.comment_area_content {
  margin-top: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9B9B9B;
}


.comment_form {
  width: 91%;
  height: 42px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-items: space-between;
  
  img {
    margin-left: 6%;
    margin-top: 12px;
  }

  
}

.comment-text-area {
  width: 90%;
}

.text-area-form {
  width: 100%;
  border: none;
  background: #F2F2F2;
}

.btn-comment-push {
  margin-right: 10px;
}


.follow-btn {
  color: black;
  padding: 8px;
  cursor: pointer;
}

.unfollow-btn {
  color: #9B9B9B;
  padding: 8px;
  cursor: pointer;
}