header {
  width: 100%;
  height: 44px;
  position: fixed;
}

.header-left {
  float: left;
  line-height: 44px;
  margin-left: 8%;
}

.header-right {
  float: right;
  line-height: 44px;
  margin-right: 8%;
}

.header-time {
  width: 28.43px;
  height: 11.09px;
}

.header-item {
  width: 18px;
  height: 6.33px;
  margin-left: 2px;
}