%header
  .header-left
    = image_tag 'time_now.png', class: 'header-time'
  .header-right
    .header-right-icons
      %i.fas.fa-signal.header-item
      %i.fas.fa-wifi.header-item
      %i.fas.fa-battery-full.header-item